<?xml version="1.0" encoding="UTF-8"?>

<!-- 형식 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.human.mapper.FilesMapper">

	<!-- 첨부파일 저장 -->
	<insert id="insertFiles">
		INSERT INTO BO_NOTICE_FILE
		(fno, filename, filepath, bno)
		VALUES
		(bo_notice_file_seq.nextval, #{filename}, #{filepath}, bo_notice_seq.currval)
	</insert>
	
	<!-- 첨부파일 목록 가져오기 -->
	<select id="selectFilesList" resultType="com.human.domain.Files">
		SELECT fno, filename, filepath 
		FROM bo_notice_file
		WHERE bno = #{bno}
	</select>

</mapper>